<section>
  <form [formGroup]="loginForm" (submit)="login()">
    <h1 #title>Login</h1>
    <span #resError></span>
    <input
      formControlName="email"
      placeholder="Email"
      type="text"
      required
    />
    <span *ngIf="email && email.invalid && email.dirty">Invalid email</span>
    <input
      formControlName="password"
      type="password"
      placeholder="Password"
      required
    />
    <button [disabled]="loginForm.invalid" type="submit">Login</button>
    <p class="signInText">
      Don't have an account?
      <a routerLink="/register">Click here to make one</a>.
    </p>
  </form>
</section>
